.card-profile {
    border-radius: 20px;
}

.profile-img-container {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.profile-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #1976d2;
}

.btn-outline-primary {
    border-radius: 20px;
}

textarea {
    resize: none;
}
